[[source]]

url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"


[packages]

django = ">=2.2.13"
djangorestframework = ">=3.9.1"
django-cors-headers = "*"
"psycopg2" = "*"


[dev-packages]

"autopep8" = "*"
"pep8" = "*"
pylint = "*"


[requires]

python_version = "3.7"
